@media (min-width: 1400px) {
    body {
      width: 1400px;
    }
}

@media (min-width: 1025px) {
    .container {
        display: grid;
        grid-template-columns: 200px 3fr 1fr;
        grid-template-rows: 1fr 4fr 3fr 1fr;
        grid-template-areas: 
          "header header header"
          "menu main sidebar"
          "menu main form"
          "footer footer footer";
        grid-column-gap: 15px;
    }
}

@media (max-width: 1025px) and (min-width: 800px){
    .container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 3fr 1fr;
        grid-template-areas: 
          "header header"
          "menu sidebar"
          "main sidebar"
          "main form"
          "footer footer";
        grid-column-gap: 15px;
    }
}

@media (max-width: 800px){
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 4fr 3fr 4fr 1fr;
        grid-template-areas: 
          "header"
          "menu"
          "sidebar"
          "form"
          "main"
          "footer";
    }

    #logo {
        display: none;
    }

    #super {
        display: none;
    }
}

body {
    text-align: center;
    position: relative;
}

#logo {
    /*display: block;*/
    width: 100px;
    position: absolute;
    top: 10px;
    right: 20px;
}

#Głowa {
    grid-area: header;
    background-color:  #024f83;
}

#Menu {
    grid-area: menu;
    background-color: #176396;
}

#Zawartość {
    grid-area: main;
    background-color: #0d91e9;
}

#Opóźnienia {
    grid-area: sidebar;
    background-color: #176396;
}

#Formularz {
    grid-area: form;
    background-color: #03568d;
}

#Stopka {
    grid-area: footer;
    background-color: #024f83;
}

#Główne_menu {
    list-style: none;
    text-align: left;
    font: menu;
    text-transform: uppercase;
}

#Główne_menu :link{
    text-decoration: none;
    color: inherit;
}

#Główne_menu :visited{
    text-decoration: none;
    color: inherit;
}

#Podmenu {
    list-style: none;
}

.czerwony {
    background-color: lightcoral;
}

.pomarańczowy {
    background-color: lightsalmon;
}

.żółty {
    background-color: yellow;
}

#pierwszy {
    background-color: burlywood;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#drugi {
    background-color: lightblue;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#main-div {
    position: relative;
}

#super {
    background-color: lightsalmon;
    width: 200px;
    position: absolute;
    top: 35px;
    left: 200px;
}

table {
    font-weight: 200;
    border: 3px;
    border-style: double;
    border-collapse: collapse;
    text-align: left 
}

td {
    padding-left: 18px;
    padding-right: 18px;
    border: 2px;
    border-style: dotted;
}

th {
    padding-left: 18px;
    padding-right: 18px;
    font-weight: bold;
    border: 2px;
    border-style: solid;
}

tr {
    padding-top: 6px;
    padding-bottom: 6px;
}

footer {
    color: rgb(1, 37, 54);
    font-family: sans-serif;
    font-size: 30px; 
    position: relative;
    top: 60px;*/
}

#miasta {
    position: relative;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 300px;
}

#odlot {
    background-color: dodgerblue;
    width: 45%;
    height: 300px;
    position: absolute;
    left: 0;
}

#odlot-img {
    width: 50%;
}

#przylot {
    background-color: dodgerblue;
    width: 45%;
    height: 300px;
    position: absolute;
    right:0;
}

#przylot-img {
    width: 50%;
}

#opis {
    background-color: yellow;
    width: 80%;
    left: 10%;
    right: 10%;
    position: relative;
    top: 50px;
    text-align: left;
}

#opis p {
    padding: 10px;
}

#pasażer {
    position: relative;
}

#popup {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: turquoise;
    border-style: groove;
}

#pasażer:hover > #popup{
    display: block;
}

#opis li:nth-child(odd) {
    background-color: yellowgreen;
}

#samolot-img {
    width: 40%;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

#Okienko {
    width: 90%;
    height: 90%;
    background-color: burlywood;
    opacity: 80%;
    border-style: groove;
    display: block;
    position: fixed;
    top: 5%;
    left: 5%;
    font-size: xx-large;
}